In [202]:
import pandas as pd

df1 = pd.read_csv('data/tn.movie_budgets.csv.gz', index_col=0)
df1.head(10)

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"

In [203]:
df1["domestic_gross"]=df1["domestic_gross"].apply(lambda x: x.replace("$", ""))
df1

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000","760,507,625","$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","241,063,875","$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","42,762,350","$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","459,005,868","$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","620,181,382","$1,316,721,747"
...,...,...,...,...,...
78,"Dec 31, 2018",Red 11,"$7,000",0,$0
79,"Apr 2, 1999",Following,"$6,000","48,482","$240,495"
80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","1,338","$1,338"
81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",0,$0
82,"Aug 5, 2005",My Date With Drew,"$1,100","181,041","$181,041"

In [200]:
df1["domestic_gross"]=df1["domestic_gross"].apply(lambda x: x.replace(",", ""))
df1

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000",760507625,"$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000",241063875,"$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000",42762350,"$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000",459005868,"$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000",620181382,"$1,316,721,747"
...,...,...,...,...,...
78,"Dec 31, 2018",Red 11,"$7,000",0,$0
79,"Apr 2, 1999",Following,"$6,000",48482,"$240,495"
80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000",1338,"$1,338"
81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",0,$0
82,"Aug 5, 2005",My Date With Drew,"$1,100",181041,"$181,041"

In [201]:
df1["domestic_gross"]=pd.to_numeric(df1['domestic_gross'])
df1

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000",760507625,"$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000",241063875,"$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000",42762350,"$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000",459005868,"$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000",620181382,"$1,316,721,747"
...,...,...,...,...,...
78,"Dec 31, 2018",Red 11,"$7,000",0,$0
79,"Apr 2, 1999",Following,"$6,000",48482,"$240,495"
80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000",1338,"$1,338"
81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",0,$0
82,"Aug 5, 2005",My Date With Drew,"$1,100",181041,"$181,041"

In [224]:
def cleaning(columns):
    for x in columns:
        df1[x]=df1[x].apply(lambda x: x.replace(",","").replace("$",""))
        df1[x]=pd.to_numeric(df1[x])

In [225]:
columns = ['production_budget','domestic_gross','worldwide_gross']

In [223]:
cleaning(columns)

AttributeError: 'int' object has no attribute 'replace'

In [215]:
df1["total_gross"]=df1["domestic_gross"]+df1["worldwide_gross"]

In [220]:
df1["earnings"]=df1["total_gross"]-df1["production_budget"]
df1.sort_values(by="earnings", ascending=False).head(10)

,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_gross,earnings
id,,,,,,,
1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,3536852904,3111852904
6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,2989973445,2683973445
43,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,2867572339,2667572339
7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,2726949682,2426949682
34,"Jun 12, 2015",Jurassic World,215000000,652270625,1648854864,2301125489,2086125489
27,"May 4, 2012",The Avengers,225000000,623279547,1517935897,2141215444,1916215444
42,"Feb 16, 2018",Black Panther,200000000,700059566,1348258224,2048317790,1848317790
67,"Apr 3, 2015",Furious 7,190000000,353007020,1518722794,1871729814,1681729814
44,"Jun 15, 2018",Incredibles 2,200000000,608581744,1242520711,1851102455,1651102455
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,1936903129,1619903129